@model List<WebsiteDatVe.Models.VeDaLuu>


@{
    ViewBag.Title = "Saved";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="booking-wrap">
    <h3>Danh sách đã lưu</h3>
    <p class="sub-title">Nơi lưu giữ những sản phẩm mà bạn quan tâm!</p>

    @if (Model.Count == 0)
    {
        <div class="empty" style="padding:4rem 0">
            <img src="~/Assets/images/inbox.png" />
            <p>Kho lưu trữ trống</p>
        </div>

    }


    <div class="ticket-container">
        @foreach (var item in Model)
        {
            <div class="ticket">
                <div class="ticket-content">
                    <div class="left">
                        <img src="@item.ChuyenBay.MayBay.HangBay.Logo " />
                    </div>
                    <div class="center">
                        <div class="center-item">
                            <h3>@item.ChuyenBay.ThoiGianDi.GetValueOrDefault().ToString("HH:mm")</h3>
                            <span>@ViewBag.DiemDi</span>
                        </div>
                        <div class="center-item">
                            <p>--- <i class="fas fa-plane"></i> ---</p>
                            <span>@item.ChuyenBay.ThoiGianDen.GetValueOrDefault().Subtract(item.ChuyenBay.ThoiGianDi.GetValueOrDefault()).TotalHours giờ</span>
                        </div>
                        <div class="center-item">
                            <h3>@item.ChuyenBay.ThoiGianDen.GetValueOrDefault().ToString("HH:mm")</h3>
                            <span>@ViewBag.DiemDen</span>
                        </div>
                    </div>
                    <div class="right">
                        <div class="icon"><i class="fas fa-bookmark"></i></div>
                        <h3>@item.ChuyenBay.Gia.GetValueOrDefault(0).ToString("N0") VNĐ/khách</h3>
                        <button name="btnChonVe">Chọn vé</button>
                    </div>

                </div>

                <div class="ticket-option">
                    <p>Chi tiết chuyến bay</p>
                    <p>Chi tiết vé</p>
                </div>
            </div>
        }
    </div>




</div>


