@using WebsiteDatVe.Models;
@model IEnumerable<MayBay>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@{
    int iDem = 0;
    int iSLDanhMucTrenTrang = 5;
    int iTrang = 1;
}
<div class="card-table" style="background-color: #f5f7ff; width:100%">
    <div class="card" style=" margin:24px 16px;">
        <div class="card-body">
            <h4 class="card-title">Quản lý máy bay</h4>
            <p class="card-description">
                <a href="/Admin/MayBay/CreatePhane" class="badge badge-info">
                    <i class="fas fa-plus" style="margin-right:2px"></i>
                    Thêm
                </a>
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã máy bay</th>
                            <th>Số ghế phổ thông</th>
                            <th>Số ghê thương gia</th>
                            <th>Số ghế đặt biệt</th>
                            <th>Số ghế hạng nhất</th>
                            <th>Tên hãng bay</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (iDem % iSLDanhMucTrenTrang == 0 && iDem != 0)
                            {
                                iTrang++;
                            }
                            <tr id="@item.MaMayBay" class="@Url.Content("SoTrangChua SoTrang" + iTrang.ToString())">
                                <td>@item.MaMayBay</td>
                                <td>@item.SoGhePhoThong</td>
                                <td>@item.SoGheThuongGia</td>
                                <td>@item.SoGhePhoThongDacBiet</td>
                                <td>@item.SoGheHangNhat</td>
                                <td>@item.HangBay.TenHangBay</td>
                                <td>
                                    <a href="/Admin/MayBay/EditPlane/@item.MaMayBay" class="badge badge-warning" style="margin-right:2px">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <button name="btnTuchoi" class="badge badge-danger" style="border:none">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                            iDem++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin:1rem;">
            @for (int i = 1; i <= iTrang; i++)
            {
                <a class="linkTrang" data-sotrang="@Url.Content("SoTrang" + i)" href="#">@i</a>
            }
        </div>
    </div>
</div>

<div class="modal" id="modalDuyet">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận</h5>
                <button type="button" class="close" onclick="modalClose()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="btnMess">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnDongY">Đồng ý</button>
                <button type="button" class="btn btn-secondary" onclick="modalClose()">Đóng</button>
            </div>
        </div>
    </div>
</div>

<style>
    .SoTrangChua {
        display: none;
    }

    .linkTrang {
        padding: 0.5rem 1rem;
        border: 1px solid #dee2e6;
        border-radius: 5px;
        margin-right: 5px;
        background-color: #fff;
        color: black;
    }

    .SoTrang1 {
        display: table-row;
    }

    a:hover {
        text-decoration: none;
        background-color: #E7EDF6;
    }

    a:focus {
        background-color: #4755AB;
        color: #fff
    }
</style>

@section Jsfooter{
    <script>
        var trangthai = 2;
        var ma;
        $(document).on('click', "button[name='btnDuyet']", function () {
            $('#btnMess').empty();
            $('#btnMess').append('<p>Bạn chắc chắn xóa thông tin máy bay?</p>');
            $('#modalDuyet').show();
            trangthai = 0;
            ma = $(this).closest('tr').attr('id');

        });

        function modalClose() {
            $('#modalDuyet').hide();

        }
        $(document).on('click', "button[name='btnTuchoi']", function () {
            $('#btnMess').empty();
            $('#btnMess').append('<p>Bạn chắc chắn xóa loại sản phẩm</p>');
            $('#modalDuyet').show();
            trangthai = 1;
            ma = $(this).closest('tr').attr('id');
        });
        $('#btnDongY').click(function () {
            $.ajax({
                type: 'post',
                url: '/Admin/MayBay/DeletePlane',
                data: {

                    mamaybay: ma,
                },
                success: function (data) {
                    if (data.code == 200) {
                        location.reload();
                    }
                }

            });
        });
        $('.linkTrang').click(function () {
            $('.SoTrangChua').hide();
            var SoTrang = $(this).attr("data-sotrang");
            $('.' + SoTrang).show();
        });
    </script>
}

